body {
  background-image: url("../assets/bg-main-mobile.png");
  font-family: 'IBM Plex Sans', sans-serif;
  width: 100vw;
  
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  max-width: 100vw;
}

*,*:before,*:after {
  box-sizing: inherit;
}


.handles img:hover{
  background-color: #FA7453; 
/*  color: #FA7453; */
}


/* Small Devices */
  .container {
    box-sizing: border-box;
    margin: auto;
    width: 375px;
    position: relative;
  }
  
  .header {
    width: 146.09px;
    height: 32px;
    position: relative;
    top: 40px;
    left: 25px;
    margin-bottom: 64px;
    font-size: 20px;
    font-weight: bold;
  }
  
  .pattern-right img {
    display: none;
  }
  
  .section-one {
    position: relative;
    width: 327px;
    height: 320px;
    left: 24px;
  }
  
  .title {
    width: 327px;
    height: 144px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 20px;
    letter-spacing: -0.454545px;
  
    color: #191826;
  }
  
  .message {
    width: 327px;
    height: 156px;
    font-family: "IBM Plex Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }
  
  .showcase {
    width: 375px;
    height: 600px;
    position: relative;
    top: 166px;
    left: 0px;
    background-color: #191826;
    border-radius: 12px;
  }
  
  .showcase-pattern {
    width: 280px;
  }
  
  .phone img {
    width: 208.97px;
    height: 430px;
    position: relative;
    bottom: 520px;
    left: 82px;
  }
  
  .card-pattern {
    width: 280px;
    height: 420px;
    position: relative;
    left: 48px;
  }
  
  .card {
    width: 375px;
    height: 546px;
    position: absolute;
    top: 380px;
    background-color: #fa7453;
    border-radius: 12px;
    
  }
  
  .card-content {
    color: #fcfaf9;
  }
  
  #num {
    margin-right: 16px;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    width: 79px;
    height: 52px;
    margin-bottom: 40px;
    margin-left: 42px;
  }
  
  #text {
    height: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 70px;
    letter-spacing: -0.2px;
    position: relative;
    bottom: 14px;
    right: 15px;
  }
  
  button {
    width: 296px;
    height: 61px;
    border-radius: 10px;
    margin-left: 42px;
    margin-top: 10px;
    
  }
  
  .btn-1 {
    margin-bottom: 20px;
    margin-top: 10px;
  }

 
  
  #head {
    width: 302px;
    height: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-left: 36px;
    margin-bottom: 12px;
    margin-top: 48px;
  }
  
  #info {
    width: 302px;
    height: 140px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 36px;
    margin-left: 36px;
  }
  
    .btn-1:hover {
    background-color: #66e2dc;
    color: white;
    cursor: pointer;
    border-color: #66e2dc;
  }

  .btn-2:hover {
    background-color: #FFB964;
    cursor: pointer;
    border-color: #FFB964;
    
  }

  .btn-1{
    background-color: #191826;
    color: whitesmoke;

  }

  .btn-2{
    background-color: #fcfaf9;
    color: black;
    border-color: #fcfaf9;
  }
  
  
  
  .btn-info1 {
    width: 142px;
    height: 32px;
    position: relative;
    left: 77px;
    font-size: 18px;
  }
  
  .btn-info2 {
    width: 180px;
    height: 32px;
    position: relative;
    left: 59px;
    font-size: 18px;
  }
  
  .footer {
    margin-top: 320px;
    position: absolute;
  
  
  }
  
  .footer h1 {
    width: 146.09px;
    height: 32px;
    margin-bottom: 32px;
    position: relative;
    margin-left: 25px;
    top: 200px;
  }
  
  .footer p {
    margin-bottom: 64px;
    height: 105px;
    width: 327px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-left: 24px;
    position: relative;
    top: 200px;
  }
  
  .handles{
    margin-left: 30px;
    width: 100px;
    height: 20px;
    margin-bottom: 80px;
    position: relative;
    top: 150px;
  }







/** Medium Devices **/

@media only screen and  (min-width: 768px) {
  .container {
    width: 100vw;
   min-width: 768px;
   left: 40px;
   
   position: relative;
   margin: 0%;

  }

  body {
    background-image: url("../assets/bg-main-tablet.png");
    font-family: 'IBM Plex Sans', sans-serif;
    box-sizing: border-box;
  }

  .header {
    position: relative;
    left: 39px;
    top: 62px;
    width: 146.09px;
    height: 32px;
    margin-bottom: 150px;
    font-weight: bold;
    font-size: 20px;
  }

  .phone img {
    width: 270.21px;
    height: 556px;
    position: relative;
    bottom: 520px;
    left: 64px;
  }

  .pattern-right {
    background-image: url("../assets/bg-pattern-1.svg");
    position: absolute;
    width: 266.67px;
    height: 400px;
    left: 537px;
    top: -32px;
  }

  .title {
    width: 300px;
    height: 332px;
    position: relative;
    left: 10px;
    margin-bottom: 90px;
    font-weight: 700;
    line-height: 64px;
    letter-spacing: -0.727273px;
  }

  .message {
    width: 500px;
    height: 112px;
    position: relative;

    bottom: 210px;
    margin-bottom: 300px;
  }

  .showcase {
    width: 696px;
    height: 600px;
    margin-left: 33px;
    margin-bottom: 100px;
  }

  .showcase-pattern {
    position: relative;
    width: 280px;
    height: 420px;
    left: 170px;
    bottom: 50px;
  }

  .card {
    position: absolute;

    background-color: #fa7453;
    border-radius: 12px;

    width: 399px;
    height: 546px;
    left: 220px;
    top: 150px;
  }

  .card-content { 
    color: #fcfaf9;
  }

  button {
    width: 296px;
    height: 61px;
    border-radius: 10px;
    margin-left: 54px;
  }

  #head {
    width: 302px;
    height: 40px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    margin-bottom: 12px;
    margin-left: 48px;
  }

  #info {
    width: 302px;
    height: 140px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 36px;
    margin-left: 48px;
  }

  #num {
    width: 79px;
    height: 52px;
    margin-bottom: 40px;
    margin-left: 54px;
    margin-right: 16px;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
  }

  #text {
    height: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 70px;
    letter-spacing: -0.2px;
    position: relative;
    bottom: 14px;
    right: 15px;
  }

 

  .btn-info1 {
    width: 142px;
    height: 32px;
    position: relative;
    left: 77px;
    font-size: 18px;
  }

  .btn-info2 {
    width: 180px;
    height: 32px;
    position: relative;
    left: 59px;
    font-size: 18px;
  }

  .btn-1 {
    margin-bottom: 16px;
  }



.footer{
position:absolute ;
top: 950px;
}

.footer h1{
  width: 146px;
height: 32px;
margin-left: 34px;
}

.footer p{
display: inline-block;
margin-left: 33px;
margin-right: 230px; 
font-family: 'IBM Plex Sans', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 26px;
width: 366px;
height: 79px;
}

.handles{
display: inline-block;
width: 100px;
height: 20px;
position: relative;
bottom: 50px;
}
}

/**Large Screens**/
@media only screen and (min-width: 1024px) {
  body {
    background-image: url("../assets/bg-main-desktop.png");
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'IBM Plex Sans', sans-serif;
    /* margin: 0; */
    margin-left: 65px;
    margin-right: 65px; 
    width: 100vw;
  }

  .container {
   
   
    /* min-width: 950px; */
    position: relative;
   
   
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html {
    box-sizing: border-box;
  }

  .header {
    width: 146.09px;
    height: 32px;
    color: #191826;
    font-weight: 700;
    margin-bottom: 127px;
    font-size: 30px;
    font-family: 'IBM Plex Sans', sans-serif;
    margin-top: 25px;
    position: relative;
    
  }

 

  .pattern-right {
    background-image: url("../assets/bg-pattern-1.svg");
    position: absolute;
    width: 312px;
    height: 468px;
    left: 900px;
    top: -80px;
  }

  .title {
    width: 1000px;
    height: 176px;

    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 88px;
    line-height: 88px;
    position: relative;
    letter-spacing: -1px;

    color: #191826;
    margin-bottom: 40px;
  }

  .message {
    width: 825px;
    height: 102px;
    position: relative;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #191826;
    margin-bottom: 321px;
    top: 50px;
  }

  .showcase {
    width: 1110px;
    height: 600px;
    background-color: #191826;
    
  }

  .section-one {
    margin-bottom: 200px;
  }

  .card-pattern {
    position: relative;
    width: 312px;
    height: 468px;
    left: 180px;
  }

  .phone img {
    position: relative;
    width: 312px;
    height: 642px;
    left: 102px;
    bottom: 690px;
  }

  .card {
    position: absolute;
    width: 446px;
    height: 625px;
    left: 550px;
    top: 80px;
    background-color: #fa7453;
    border-radius: 12px;
  }

  .card-content {  
    color: #fcfaf9;
  }

  #num {
    margin-right: 16px;
    font-weight: 700;
    font-size: 65px;
    line-height: 52px;
    width: 79px;
  }

  #text {
    height: 32px;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    width: 70px;
    letter-spacing: -0.2px;
    position: relative;
    bottom: 14px;
    right: 15px;
  }

  button {
    width: 333px;
    height: 61px;
    border-radius: 10px;
    margin-left: 54px;
  }

  .btn-1 {
    margin-bottom: 25px;
    margin-top: 30px;
  }

  #head {
    width: 333px;
    height: 52px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    margin-left: 54px;
  }

  #info {
    width: 333px;
    height: 170px;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    margin-bottom: 39px;
    margin-left: 54px;
  }

  #num {
    width: 165px;
    height: 52px;
    margin-bottom: 46px;
    margin-left: 54px;
  }

  

  .btn-info1 {
    width: 142px;
    height: 32px;
    position: relative;
    left: 77px;
    font-size: 18px;
  }

  .btn-info2 {
    width: 180px;
    height: 32px;
    position: relative;
    left: 59px;
    font-size: 18px;
  }

  .footer {
    width: 1100px;
    height: 79px;
    display: flex;
    position: absolute;
    top: 1200px;
    
  }

  .footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 5px;
    left: 137px;
    width: 100%;
    height: 79px;
    display: flex;
    position: relative;
    flex-wrap: wrap;
    
  }

  .footer h1 {
    width: 146px;
    height: 32px;
    margin-top: 0px;
    position: relative;
    bottom: 0px;
  }

  .handles {
    margin-top: 100px;
    left: 150px;
    width: 459px;
    display: flex;
    position: relative;
  }

  .handles img {
    width: 20px;
    height: 20px;
  }
}
